[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single
indent_style = tab
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside
indent_brace_style = K&R

[*.json]
indent_size = 2
